---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="ellison glen may">
	<main>
		<header><h1>ellison glen may</h1></header>
		<nav>
			<a href="/me">about</a>
			<a href="/#">work</a>
			<a href="/#">contact</a>
		</nav>
		<div class="glen">
			<h2>Hey there, I'm <span id="click-name">Glen</span>.</h2>
		</div>
		<!-- <Card href="/#" title="Glen" body="May" /> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	header {
		margin-bottom: 1rem;
	}

	nav {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 1rem;
		color: #f8f9fa;
		text-decoration: none;
	}
	a {
		text-decoration: none;
		color: #fff;
	}

	a:hover {
		color: black;
	}

	h1 {
		text-align: center;
		font-family: "Beth Ellen";
		font-size: 3rem;
		margin: 0;
		/* border-bottom: 2px solid #000; */
		margin-bottom: 1rem;
		color: #f8f9fa;
	}

	h2 {
		font-family: "Inter Tight";
		font-weight: 200;
		font-weight: 800;
		color: #f8f9fa;
	}

	.glen {
		display: flex;
		justify-content: left;
	}

	#click-name:hover {
		color: red;
		cursor: pointer;
	}
</style>
