---
export interface Props {
	title: string;
	href: string;
	embeds: string[];
}
import { Icon } from "astro-icon";

const { href, title, embeds } = Astro.props;
---

<div class="card">
	<div class="header">
		<h1>
			{title}
		</h1>

		<!-- render videos -->

		<div class="bandcamp">
			{
				embeds.map((bandcamp) => (
					<div class="bandcampWrapper">
						<iframe
							style="border: 0; width: 100%; height: 120px;"
							src={bandcamp}
							seamless
						>
							<a href="https://samesies.bandcamp.com/album/demo-2012">
								demo 2012 by samesies
							</a>
						</iframe>
					</div>
				))
			}
		</div>
	</div>

	<style>
		.card {
			margin: auto;
			/* width: 300px; */
			margin-bottom: 1rem;
			background-color: #f8f9fa38;
			border-radius: 0.3rem;
			opacity: 0.9;
		}

		a {
			text-decoration: none;
			color: #000;
		}

		.header {
			height: auto;
			text-align: center;
			font-family: "Beth Ellen";
			margin: 0;
			/* border-bottom: 2px solid #000; */
			margin-bottom: 1rem;
			color: #f8f9fa;
		}

		.bandcamp {
			padding: 0 1rem;
			background-color: #f8f9fa46;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.bandcampWrapper {
			margin-top: 1rem;
			position: relative;
			width: 100%;
			height: 100%;
		}

		svg {
			width: 2rem;
			height: 2rem;
			padding: 0.5rem;
			margin: 0.5rem;
		}

		svg:hover {
			background-color: #f8f9fa;
			border-radius: 50%;
		}
	</style>
</div>
